﻿
<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Input Honor Lain</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group hidden" >
                            <label class="col-md-3 control-label">No Bukti</label>
                            <div class="col-md-9">
                                <input type="text"  name="NoBukti" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tanggal</label>
                            <div class="col-md-9">
                                <input type="date" name="Tanggal" required class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Dokter</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="Dokter_Kode_Supplier" class="form-control all-readonly" />
                                    <input type="text" required name="Supplier_ID" class="form-control all-readonly hidden" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupdokter.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default view-disabled" onclick="itablelookupdokter.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="text" required name="Dokter_Nama_Supplier" class="form-control all-readonly"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nilai</label>
                            <div class="col-md-9">
                                <input type="text" required name="Nilai" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Keterangan Honor</label>
                            <div class="col-md-9">
                                <input type="text" required name="KeteranganHonor" class="form-control" maxlength="100" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // detail value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Supplier_ID'].value = r.Data.Supplier_ID;
                    t['Dokter_Kode_Supplier'].value = r.Data.Dokter_Kode_Supplier;
                    t['Dokter_Nama_Supplier'].value = r.Data.Dokter_Nama_Supplier;
                    t['KeteranganHonor'].value = r.Data.KeteranganHonor;

                    isetup.cleave_Nilai.setRawValue(r.Data.Nilai);
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        Supplier_ID: t['Supplier_ID'].value,
                        Dokter_Kode_Supplier: t['Dokter_Kode_Supplier'].value,
                        Dokter_Nama_Supplier: t['Dokter_Nama_Supplier'].value,
                        Nilai: parseFloat(isetup.cleave_Nilai.getRawValue()) || 0,
                        KeteranganHonor: t['KeteranganHonor'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="NoBukti"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }

           
        });
        isetup.cleave_Nilai = new Cleave(isetup.form['Nilai'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });
    });
</script>