﻿@using Honor.Helper
@using Honor.Models
@{
    ViewBag.Title = "Home";
}
@model HomeViewModel

<div class="panel">
    <div class="panel-body text-center">
        <img src="@Url.Content("~/Themes/assets/images/RS-BANGLI.png")" style="height: 100px;" />
    </div>
</div>

@*<div class="panel">
    <div class="panel-heading">
        <h6 class="panel-title">Menu</h6>
        <div class="heading-elements">
            <button disabled class="btn btn-link daterange-ranges heading-btn text-semibold">
                <i class="icon-calendar3 position-left"></i> <span>@(HList.ListBulan.FirstOrDefault(x => x.Value == DateTime.Today.Month.ToString()).Text) @DateTime.Today.Year</span>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="@Url.Action("Index", "PermintaanPembelian")">
                    <div class="panel panel-body bg-blue-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-body">
                                <h3 class="no-margin">@HConvert.ToMoney(0)</h3>
                                <span class="text-uppercase text-size-mini">Permintaan Beli</span>
                            </div>

                            <div class="media-right media-middle">
                                <i class="icon-cart icon-3x opacity-75"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="@Url.Action("Index", "PenerimaanBarang")">
                    <div class="panel panel-body bg-danger-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-body">
                                <h3 class="no-margin">@HConvert.ToMoney(0)</h3>
                                <span class="text-uppercase text-size-mini">Penerimaan Barang</span>
                            </div>

                            <div class="media-right media-middle">
                                <i class="icon-cart-add icon-3x opacity-75"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="@Url.Action("Index", "Amprahan")">
                    <div class="panel panel-body bg-success-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-basket icon-3x opacity-75"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin">@HConvert.ToMoney(0)</h3>
                                <span class="text-uppercase text-size-mini">Amprahan</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="@Url.Action("Index", "MutasiBarang")">
                    <div class="panel panel-body bg-indigo-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-cart-remove icon-3x opacity-75"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin">@HConvert.ToMoney(0)</h3>
                                <span class="text-uppercase text-size-mini">Mutasi Barang</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>*@