﻿@using Honor.Models.Honor
@{
    ViewBag.Title = "SetupAwal";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@model SetupAwalModel
<div id="alertsuccess" class="alert bg-success alert-styled-left" style="display:none;">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <span class="text-semibold">Berhasil Disimpan</span>
</div>

<div id="modalsetup" class="panel panel-default">
            <form id="formawalsystem" onsubmit="formawalsystemonsubmit(event)">
                <div class="panel-body">
                    <div class="form-horizontal">
                        
                            <div class="form-group">
                                <label class="col-md-4 control-label">BERLAKU DENDA PAJAK TIDAK ADA NPWP</label>
                                <div class="col-md-8">
                                    <input class="inputvalue" type="checkbox" name="NPWP"  @(Model.NPWP == true ? "checked" : "") />
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">PROSES DENDA PAJAK(PPh 21)</label>
                            <div class="col-md-2">
                                <input type="number" name="Nilai" class="form-control" maxlength="100" value="@Model.Nilai" />
                            </div>
                            %
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>

                        </div>
                    </div>
                </div>
                
            </form>
</div>


<script>
      const formawalsystemonsubmit = (e) => {
                $('#alertsuccess').hide();
                e.preventDefault();
                 const data = {
                     Nilai: event.target['Nilai'].value,
                     NPWP: event.target['NPWP'].checked,
                 };

                $.ajax({
                    url: '@Url.Action("Save")',
                    type: 'POST',
                    data: { model : data},
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            $('#alertsuccess').show();
                            $('html,body').animate({ scrollTop: 0 }, 'fash');
                        } else {
                            alerterror(r.Message);
                        }
                    },
                    error: function (xhr) { alerterror(xhr); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }
                });
             };

</script>

