﻿@using Honor.Helper
<div id="modalsetupdetailpasien" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hitung Honor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="NoBukti" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No Invoice</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NoInvoice" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No Reg</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NoReg" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">NRM</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NRM" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Nama" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Honor</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Honor" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Alat</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Alat" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Validasi</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            Validasi
                                            <input type="checkbox" name="Validasi" class="all-disabled" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-xxs table-bordered">
                                    <thead>
                                        <tr>
                                            <td>ID Dokter</td>
                                            <td>Nama Dokter</td>
                                            <td>Tgl Tindakan</td>
                                            <td>Jasa</td>
                                            <td>Kelas</td>
                                            <td>Keterangan</td>
                                            <td>Qty</td>
                                            <td>Tarif</td>
                                            <td>Diskon</td>
                                            <td>Potongan</td>
                                            <td>Ket Potongan</td>
                                            <td>No Invoice</td>
                                            <td>Validasi</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup_pasien;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_pasien = new iSetup({
            modal: 'modalsetupdetailpasien',
            urldetail: '@Url.Action("Detail_Pasien")',
            urlsave: '@Url.Action("Save_Pasien")',
            saveparam: function () {
                var t = isetup_pasien.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        NoInvoice: t['NoInvoice'].value
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup_pasien.modal.modal('hide');
                    itable_pasien.refresh();
                    itable_dokter.refresh();
                } else
                    alert(r.Message);
            },
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup_pasien.form;

                    // detail value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['NoInvoice'].value = r.Data.NoInvoice;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['Nama'].value = r.Data.Nama;
                    t['Honor'].value = getcurrencyfromfloat(r.Data.Honor) || '0';
                    t['Alat'].value = getcurrencyfromfloat(r.Data.Alat) || '0';
                    t['Validasi'].checked = r.Data.Validasi;

                    let detail = '';
                    r.Detail.forEach(x => {
                        detail += `<tr>`;
                        detail += `<td>${x.IdDokter}</td>`;
                        detail += `<td>${x.NamaDokter}</td>`;
                        detail += `<td>${x.TglTindakan}</td>`;
                        detail += `<td>${x.Jasa}</td>`;
                        detail += `<td>${x.Kelas}</td>`;
                        detail += `<td>${x.Keterangan}</td>`;
                        detail += `<td>${x.Qty}</td>`;
                        detail += `<td>${x.Tarif}</td>`;
                        detail += `<td>${x.Diskon}</td>`;
                        detail += `<td>${x.Potongan}</td>`;
                        detail += `<td>${x.KetPotongan}</td>`;
                        detail += `<td>${x.NoInvoice}</td>`;
                        detail += `<td class="text-center"><input type="checkbox" disabled ${x.Validasi && 'checked'}/></td>`;
                        detail += `</tr>`;
                    });

                    $(isetup_pasien.form).find('table tbody').html(detail);
                    isetup_pasien.init();

                    isetup_pasien.modal.modal({backdrop: 'static'});
                    $('.modal-backdrop:last').css('z-index', $('#modalsetupdetailpasien').css('z-index') - 1);
                } else
                    alert(r.Message);
            }
        });

        $('#modalsetupdetailpasien').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        $(isetup_pasien.form['TipeHonor']).select2();
        $(isetup_pasien.form['FilterDokter']).select2({
            ajax: {
                url: "@Url.Action("HitungHonor_Dokter", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: "Dokter"
        });
    });
</script>